<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>There is your information</h1>
    <p> <%= @student.name %></p>
    <p> url: <%= @url %> <p>
  </body>
</html>